<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
    <!-- Styles -->
    <link href="/adminassets/css/lib/calendar2/pignose.calendar.min.css" rel="stylesheet">
    <link href="/adminassets/css/lib/chartist/chartist.min.css" rel="stylesheet">
    <link href="/adminassets/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="/adminassets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="/adminassets/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="/adminassets/css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/adminassets/css/lib/weather-icons.css" rel="stylesheet" />
    <link href="/adminassets/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="/adminassets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/adminassets/css/lib/helper.css" rel="stylesheet">
    <link href="/adminassets/css/style.css" rel="stylesheet">

</head>
<div th:fragment="js-assets">
    <!-- Template Stylesheet -->
    <link href="/basicassets/css/style.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/basicassets/lib/wow/wow.min.js"></script>
    <script src="/basicassets/lib/easing/easing.min.js"></script>
    <script src="/basicassets/lib/waypoints/waypoints.min.js"></script>
    <script src="/basicassets/lib/counterup/counterup.min.js"></script>
    <script src="/basicassets/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/basicassets/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="/basicassets/lib/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="/basicassets/js/main.js"></script>

    <!-- jquery vendor -->
    <script src="/adminassets/js/lib/jquery.min.js"></script>
    <script src="/adminassets/js/lib/jquery.nanoscroller.min.js"></script>
    <!-- nano scroller -->
    <script src="/adminassets/js/lib/menubar/sidebar.js"></script>
    <script src="/adminassets/js/lib/preloader/pace.min.js"></script>
    <!-- sidebar -->

    <script src="/adminassets/js/lib/bootstrap.min.js"></script>
    <script src="/adminassets/js/scripts.js"></script>
    <!-- bootstrap -->

    <script src="/adminassets/js/lib/calendar-2/moment.latest.min.js"></script>
    <script src="/adminassets/js/lib/calendar-2/pignose.calendar.min.js"></script>
    <script src="/adminassets/js/lib/calendar-2/pignose.init.js"></script>


    <script src="/adminassets/js/lib/weather/jquery.simpleWeather.min.js"></script>
    <script src="/adminassets/js/lib/weather/weather-init.js"></script>
    <script src="/adminassets/js/lib/circle-progress/circle-progress.min.js"></script>
    <script src="/adminassets/js/lib/circle-progress/circle-progress-init.js"></script>
    <script src="/adminassets/js/lib/chartist/chartist.min.js"></script>
    <script src="/adminassets/js/lib/sparklinechart/jquery.sparkline.min.js"></script>
    <script src="/adminassets/js/lib/sparklinechart/sparkline.init.js"></script>
    <script src="/adminassets/js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="/adminassets/js/lib/owl-carousel/owl.carousel-init.js"></script>
    <!-- scripit init-->
    <script src="/adminassets/js/dashboard2.js"></script>
</div>

</html>