<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GNKBC 뉴욕 그레이스 한인침례교회</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="뉴욕, 침례교회, 뉴욕 그레이스 교회, 은혜교회" name="keywords">
    <meta content="한인교회" name="description">
</head>
<head th:replace="~{basicpage/fragments/libraries :: header}">
</head>

<body>
<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->
<!--topbar & nav-->
<div th:replace="~{basicpage/fragments/top-nav :: topbar}"></div>
<div th:replace="~{basicpage/fragments/top-nav :: nav}"></div>

<!-- Carousel Start -->
<div class="container-fluid p-0 pb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div th:each="path : ${imgPathMap['carousel']}"  class="owl-carousel-item position-relative">
            <img class="img-fluid" th:src="|/admin/images/${path}|" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(53, 53, 53, .7);">
            </div>
        </div>
    </div>
</div>

<!-- Carousel End -->

<!-- Feature Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <div class="d-flex align-items-center justify-content-center bg-light" style="width: 60px; height: 60px;">
                        <i class="fa fa-user-check fa-2x text-primary"></i>
                    </div>
                    <h1 class="display-6 text-primary mb-0" th:text="${stringMap['linktitle1'].content}">교회 소개</h1>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <div class="d-flex align-items-center justify-content-center bg-light" style="width: 60px; height: 60px;">
                        <i class="fa fa-check fa-2x text-primary"></i>
                    </div>
                    <h1 class="display-6 text-primary mb-0" th:text="${stringMap['linktitle2'].content}" >오시는 길</h1>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <div class="d-flex align-items-center justify-content-center bg-light" style="width: 60px; height: 60px;">
                        <i class="fa fa-drafting-compass fa-2x text-primary"></i>
                    </div>
                    <h1 class="display-6 text-primary mb-0" th:text="${stringMap['linktitle3'].content}">공지사항</h1>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <div class="d-flex align-items-center justify-content-center bg-light" style="width: 60px; height: 60px;">
                        <i class="fa fa-headphones fa-2x text-primary"></i>
                    </div>
                    <h3 class="display-6 text-primary mb-0" th:text="${stringMap['linktitle4'].content}">교회 소개</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature Start -->

<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="section-title text-center">
            <h1 class="display-5 mb-5" th:text="${stringMap['activity-title'].content}">교회 활동</h1>
        </div>
        <div class="row g-4">
            <div th:each="path: ${imgPathMap['activities']}" class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" th:src="|/admin/images/${path}|" alt="">
                    </div>
                    <div class="p-4 text-center border border-5 border-light border-top-0">
                        <h4 class="mb-3" th:text="${stringMap['act1-title'].content}">활동1</h4>
                        <p th:text="${stringMap['act1-desc'].content}">내용</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

<!-- Footer Start -->
<div th:replace="~{basicpage/fragments/footer :: footer}"></div>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-0 back-to-top"><i class="bi bi-arrow-up"></i></a>

</body>
<div th:replace="~{basicpage/fragments/libraries :: js-assets}"></div>
</html>