<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GNKBC ADMIN</title>
</head>
<head th:replace="~{adminpage/fragments/libraries :: header}">
</head>
<body>
<div th:replace="~{adminpage/fragments/sidebar :: sidebar}"></div>


</body>

<div th:replace="~{adminpage/fragments/libraries :: js-assets}"></div>


</html>