<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>관리자 로그인</title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link href="/adminassets/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="/adminassets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="/adminassets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/adminassets/css/lib/helper.css" rel="stylesheet">
    <link href="/adminassets/css/style.css" rel="stylesheet">
</head>

<body class="bg-secondary">
<div class="unix-login">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="login-content">
                    <div class="login-logo">
                        <a href="/"><span>GNKBC HOME</span></a>
                    </div>
                    <div class="login-form">
                        <h4>관리자 로그인</h4>
                        <a href="/oauth2/authorization/google" class="btn btn-primary">AUTH VIA GOOGLE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>